body{
    text-transform: capitalize;
}
p{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Header*/
header .socialMedia {
    text-align: right;
}
.text-white{
    color: #fff;
}
header .socialMedia a {
    padding-right: 10px;
    padding-left: 5px;
    border-right: 1px solid #cacaca;
}

header .socialMedia a:last-child {
    border-right: 0;
}
/* row don't apply margins */
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
/*Products*/
.products .categories .nav-pills li p {
    margin-left: 30px;
}


.productsListing .slideDots .nav-pills > li + li {
    margin-left: 0
}


/*Musical Instruments Tab*/

.productBox {
    float: left;
}
.productBox p {
    margin-left: 12px;
}


/*Footer*/
.footerContent #goTop {
    right: 0;
}
footer .footerContent .firstCol {
    border-right: 2px solid rgba(0,0,0,0.1);
}
footer .socialMedia {
    /*margin-left:15px;*/
    padding-left:15px;
}
footer .socialMedia a {
    border-right: 2px solid rgba(255,255,255,0.3);
}
footer .socialMedia .facebook {
    padding: 4px 16px 0 0;
}
footer .socialMedia .instagram {
    padding-left: 11px;
    padding-right: 13px;
}

footer .socialMedia .whatsapp {
    padding-left: 12px;
    padding-right: 15px;
}

footer .contacts {
    padding-left: 23px;
}
/*footer .visitUs {
    margin-right:0;
}*/
footer .visitUs .footerTitle {
    margin-left: 15px;
}
footer .visitUs .store .storeImg {
    margin-right: 15px;
}
footer .visitUs .store .fa-map-marker-alt {
    margin-right: 5px;
}
footer .footerContent .secondCol {
    padding-left: 36px;
}
.shopOnline a {
    border-right: 1px solid rgba(255,255,255,0.3);
}
footer .shopOnline {
    padding-left: 0;
}
.shopOnline a:last-child {
    border-right: 0;
}
footer .search {
    padding-left: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    margin-right: 10px;
}
footer .search select {
    background-position: right 20px top 15px;
}
/*.search .searchResult{
    padding-left:15px;
}*/
/*.search .searchResult p{
    margin-left: 15px;
}*/
.search .searchResult .dealerName, .searchResult .dealerPhoneNumber, .searchResult .dealerAddress {
    border-right: 1px solid rgba(0,0,0,0.1);
}
/*.search .searchResult .dealerName {
    padding-left: 0;
}*/

.search .searchResult .dealerAddress {
    border-right: 0
}


/*Responsive*/
@media screen and (max-width: 1200px) {
    .products .categories .nav-pills li p {
        margin-left: 15px;
    }

    footer .contacts {
        padding-right:0;
    }
    footer .footerContent .firstCol{
        padding-right:0
    }
}

@media screen and (max-width: 992px) {
    /*Footer*/
    footer .footerContent .firstCol {
        border-right: 0;
        padding-left: 0;
    }
    footer .footerContent .secondCol {
        padding-left: 0;
    }
    footer .shopOnline {
        border-right: 2px solid rgba(0,0,0,0.1);
        padding-right: 30px;
    }
    .shopOnline a {
        border-right:0;
    }
    footer .search {
        padding-left: 15px;
    }

}



@media screen and (max-width: 768px) {
    .footerContent #goTop {
        right: 20px;
    }
    footer .socialMedia .whatsapp{
        border-right:0;
    }
    footer .contacts {
        padding-left: 15px;
    }
    footer .shopOnline{
        border-right:0;
        padding-right:0;
    }

    .shopOnline a {
        border-right: 1px solid rgba(255,255,255,0.3);
    }
    footer .search {
        padding-left: 0;
        padding-right:0;
    }
    footer .footerContent .secondCol {
        padding-right: 0;
    }
}

@media screen and (max-width: 600px) {
    header .socialMedia .langSwitcher {
        border-right: 0;
    }

}
/* section news and video*/
.video .owl-theme .owl-dots .owl-dot.active span , .news .owl-theme .owl-dots .owl-dot.active span{
    width: 40px !important;
  }
  /* new section */
  .news .owl-theme .owl-dots .owl-dot span:focus{
    border: none;
  }
  .news{
      background-color: #000000;
      padding: 50px 0;

  }
  .news .news_slider .item{
    display: flex;
    justify-content: center;
    border-right: 1px solid #ccc ;
  }
  .news .news_slider .item .card img{
    height: 261px;
    border-radius: 10px;
  
  }
  .news .news_slider .card{
    background-color: transparent;
    border: none;
    width: 260px;
    color: #fff;
  }
  @media screen and (max-width:420px) {
    .news .news_slider .card{

        width: 150px;
    }
  }
  .news .news_slider .owl-dots{
    padding-top: 30px !important;
  }
  .video .video_slider .owl-dots{
    padding-top: 15px !important;

  }
  .news .news_slider .card .card-title{
    margin: 15px 0;
  }
  .news .news_slider .owl-dots .owl-dot span , .video .video_slider .owl-dots .owl-dot span{
    background-color: rgba(255,255,255,0.2);
    width: 15px;
    height: 15px;
}
.news .news_slider .owl-dots .owl-dot.active span , .video .owl-theme .owl-dots .owl-dot.active span{
    background-color: rgba(255,255,255,0.4);
}
/* video section */
  .video{
      background-image: url(../images/audio-visual-bg.jpg);
      background-size: cover;
      background-position: center center;
    padding: 104px 0;
  }
  .video .video_slider .card{
    background-color: transparent;
    border: none;
    color: #fff;
  }
  .video .video_slider .card-img-top{
    height: 300px;
    border-radius: 10px;
    box-shadow: 6px 4px 8px rgb(0 0 0 / 30%);
  }
  .video .video_slider .owl-next img{
      height: 40px;
      border-radius: 4px;
      
    }
    .video .video_slider .owl-stage-outer{
        position: relative;
    }
    .video .video_slider .owl-prev img{
        height: 40px;
        border-radius: 4px;
       
    }
  .video .video_slider .owl-next {
      
      position: absolute;
      top: 50%;
      right: -40px;
      transform: translateY(-50%);
    }
    .video .video_slider .owl-prev {
        
        position: absolute;
        top: 50%;
        left: -40px;
        transform: translateY(-50%);
    }
    @media screen and (max-width:769px) {
        .video .video_slider .owl-next img{
            height: 40px;
            border-radius: 4px;
            position: absolute;
            top: 50%;
            right: 0;
        }
        .video .video_slider .owl-prev img{
            height: 40px;
            border-radius: 4px;
            position: absolute;
            top: 50%;
            left: 0;
        }
    }
    .video .video_slider .owl-item.active .item{
        display: flex;
        justify-content: center;

        
    }
    /* .video .video_slider .owl-item.active .item{
        border-right: 1px solid #fff;
    }
     */
    .video .video_slider .owl-item.active:first-child(1){
        border-right: none;
    }
    .video .video_slider .owl-item.active:first-child(2){
        border-right: none;
    }
    


    .video .video_slider .item .card-img{
        position: relative;
    }
    .video .video_slider .item .card-img .btn-video{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
    }
    .video .video_slider .item .card{
        width: 340px;
    }
    .video .video_slider .card-title{
        padding: 29px 0 0 0;
        min-height: 63px;
    }
    
    /* product page */
    .inner_page{
        height: 480px;
        background-position: center center;
        background-size: cover;
    }
    /* swiper slider */
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }

    .mySwiper2 {
        height: 300px;
        width: 100%;
    }

    .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }

    .mySwiper .swiper-slide {
        width: 25%;
        height: 86px;
        opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }

    .justify-content-center{
        justify-content: center;
    }
    .align-items-center{
        align-items: center;
    }
    /* product details */
    .product_description{
        padding: 40px 0;
    }
    .product_description--header{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .product_description--paragraph{
        font-size: 13px;
        font-weight: 300;
    }
    .product_description--card{
        background-position: center center;
        background-size: cover;
        margin-top: 100px;

    }
    .product_description--card-body{
        padding: 20px;

    }
    .product_description--card-body p{
        color: #fff;
    }
    .product_description--card-body .row{
        display: flex;
    }
    .product_description--button{
        background-color: #53287e;
        border-radius: 0;
        color: #fff;
        border: 1px solid #fff;
        padding: 10px 20px;
        width: 100%;
    }
    .product_description--button:hover{
        background-color: #53287e;
        border-radius: 0;
        color: #fff;
        border: 1px solid #fff;
        padding: 10px 20px;
        width: 100%;
    }
    .w-100{
        width: 100%;
    }
    /* tabs */
    .tabs .tab-content .tab-pane.fade{
        opacity: 1;
    }
    .tabs .nav-tabs>li>a.nav-link.active{
        color: #7a7a7a;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
    }
    .tabs .nav-tabs>li>a.nav-link{
        color: #a9a9a9;
    }
    @media screen and (max-width:768px) {
        
        .tabs .nav.nav-tabs{
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
        }
    }
    @media screen and (max-width:420px) {
        
        
        .tabs .nav-tabs>li>a.nav-link{
            color: #a9a9a9;
            padding: 0 7px !important;
            font-size: 15px;
        }
    }
    /* overview tab */
    .overview{
        padding: 30px 0;
    }
    .overview h2{
        font-size: 25px;
        margin-bottom: 15px;
        color: #838383;
    }
    .overview p{
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    /* video section */
    .videos .card .card-title{
        font-size: 18px;
        margin: 10px 0;
    }
    .videos h1{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .col-md-6 .overview_image{
        text-align: left;
    }

    @media screen and (min-width:768px) {
        
        .overview_image{
            width: 450px;
        }
        
    }
    @media screen and (max-width:768px) {
        
        .overview_image{
            width: 100%;
        }
        .overview h2 , .overview p {
            margin: 20px 0;
        }
    }
    .align-items-stretch{
        align-items: stretch;
    }
    .h-100{
        height: 100%;
    }
    /* features tab */
    .features {
        padding: 50px 0;
    }
    .features p{
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .features_header{
        font-size: 20px;
        margin-bottom: 15px;
    }
    @media screen and (max-width:768px) {
        .features_header {
            font-size: 15px;
            margin-bottom: 15px;
        }
    }
    .mb-3{
        margin-bottom: 10px;
    }
    @media screen and (min-width:1024px) {
        
        .features .row .row{
            min-height: 252px;
        }
    }
    @media screen and (max-width:1024px) {
        
        .features .row .row{
            min-height: 170px;
        }
    }
    .row.no-gutters {
        margin-right: 0;
        margin-left: 0;
    
    }
    .row.no-gutters > [class^="col-"],
    .row.no-gutters > [class*=" col-"] {
    padding-right: 1px;
    padding-left: 1px;
    }
    .specifications .row [class^="col-"] , .specifications .row [class*="col-"]{
        padding: 10px;
        border: 1px solid #ccc;
    }
    .p-0{
        padding: 0 !important;
    }
    .border-0{
        border: none !important;
    }
    .border-right{
        border-right: 2px solid #ccc !important;
    }
    .mb-0{
        margin-bottom: 0;
    }
    .mb-3{
        margin-bottom: 30px;
    }
    

    @media screen and (min-width:1024px) {
        .overview .row{
            display: flex;
            align-items: center;
        }
    }
    .text-center{
        text-align: center !important;
    }
    .text-right{
        text-align: right !important;
    }
    .text-left{
        text-align: left !important;
    }
    /* table specifications */
    .table tr.bg-gray , .table tr td.bg-gray , .table .bg-gray{
        background-color: #f5f5f5;
    }
    .third_tab{
        padding: 30px 0;
    }
    @media screen and (max-width:420px) {
        .table tr.bg-gray , .table tr td.bg-gray , .table .bg-gray{
            background-color: #f5f5f5;
            width: 25%;
        }

        .table .responsive-table-fixed{
            width: 29% !important;
        }
    }
    /* modal in page home */
    .modal.fade{
        opacity: 1;
    }
    .modal#video.fade .modal-dialog{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 0;
    }
